<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= error %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.css">

    <!-- Custom icon font css -->
    <link rel='stylesheet' href='/stylesheets/eco-menu.css'/>
    <link rel="stylesheet" href="/stylesheets/eco-watt.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font awesome pro -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- Bootstrap Toggle -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/uiswitch.css'/>
    <link rel='stylesheet' href='/stylesheets/checkbox.css'/>
    <link rel='stylesheet' href='/stylesheets/utility.css' />

</head>
<body>

<!-- Error Container -->
<div class="container-fluid mt-3 position-fixed bg-ecogreen-green">
    <div class="d-flex justify-content-around align-items-center">
        <div class="d-flex flex-column align-items-center justify-content-end bg-transparent">
            <h2 class="display-5 font-weight-bold text-ecogreen mb-3"><%= error.status %> <span class="text-dark"><%= message %></span></h2>
            <h6 class="mb-0 text-dark font-weight-bold">Redirecting to Home in <span id="countdown">5</span> . . .</h6>
        </div>
    </div>
</div>

<!-- Extra scripts starts -->
<script>
    $(document).ready(function() {
        setTimeout(decreaseCountdown, 1000);
    });

    var decreaseCountdown = () => {
        if($('#countdown').html() == 1) return window.location.href = '/';
        $('#countdown').html($('#countdown').html() - 1);
        setTimeout(decreaseCountdown,1000);
    }
</script>
<!-- Extra scripts ends -->

<!-- Include footer -->
<% include ./partials/footer %>