<!-- Include header -->
<%- include('./partials/header', {title: title}); %>

<!-- Include navigation -->
<%- include('./partials/nav', {page: 'profile'}); %>

<!-- Include messages -->
<%- messages('my_message_template', locals) %>

<!-- Container Start -->
<section class="container">
    <div>
        
    </div>
</section>


<!-- Include footer -->
<% include ./partials/footer %>