.bg-ecogreen-green{
    background-image: linear-gradient(180deg, #ffffff 0%, #beee00 100%);
    height: 100%;
}
  
.bg-ecogreen-orange{
    background-image: linear-gradient(180deg, #ffffff 0%, #ffc811 100%);
    height: 100%;
}
  
.bg-ecogreen-red{
    background-image: linear-gradient(180deg, #ffffff 0%, #ff6506 100%);
    height: 100%;
}